/* static/css/styles.css */
body {
    background-color: #f0f8ff;
    padding-top: 56px; /* Espacio para la barra de navegación */

}


h1, h2 {
    color: #471313; /* Texto blanco */
}


.hero {
    height: 100vh; /* Altura de la sección hero */
    background: url('https://via.placeholder.com/1920x1080') no-repeat center center; /* Imagen de fondo */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}