{% extends 'base.html' %}
<!--cargamos el archivo base para la pagina-->
{% block title %}Contacto{% endblock %}
<!--definir titulo del bloque-->
{% block content %}
<!--contenido-->
<div class="mt-5">
    <h2>Contacto</h2>
    <form>
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="Tu nombre">
        </div>
        <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" placeholder="Tu correo electrónico">
        </div>
        <div class="form-group">
            <label for="message">Mensaje</label>
            <textarea class="form-control" id="message" rows="3" placeholder="Tu mensaje"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
<!--fin contenido-->
{% endblock %}
