{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
<div class="hero">
    <div class="container">
        <h1 class="display-4">Bienvenido a Nuestro Sitio</h1>
        <p class="lead">Ofrecemos los mejores servicios para ti.</p>
        <a href="#" class="btn btn-primary btn-lg">Comienza Aquí</a>
    </div>
</div>

<div class="mt-5">
    <h2>¿Quiénes Somos?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet tortor felis. Vestibulum ac dictum nisl.</p>
</div>
{% endblock %}
